            h1{color:red; background-color: green; text-align: center}
            h2{color:blanchedalmond; background-color:gold; text-align: left}
            h3{color:violet; background-color:saddlebrown; text-align: right}